[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
Django = "*"
tblib = "*"
coverage = "*"
tox = "*"

[packages]
psycopg2-binary = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
djangorestframework-jsonapi = "*"
django-url-filter = "*"
python-decouple = "*"
gunicorn = {extras = ["gevent"], version = "*"}
django-debug-toolbar = "*"
Django = "*"
django-modeladmin-reorder = "*"
django-cachalot = "*"
